Repository Sidekick-Security/game-day-phnwtr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @frontend-team, @ui-leads, @exercise-team, @backend-leads, @analytics-team, @data-science-leads, @ai-team, @notification-team, @platform-team, @security-leads, @devops-team, @ci-leads, @qa-team, @test-automation-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern owner1 owner2 ...

# Global ownership - fallback for files not matched by other rules
* @platform-leads

# Frontend components
src/web/** @frontend-team @ui-leads

# Backend Services
src/backend/src/exercise-service/** @exercise-team @backend-leads
src/backend/src/analytics-service/** @analytics-team @data-science-leads
src/backend/src/scenario-service/** @ai-team @data-science-leads
src/backend/src/notification-service/** @notification-team @backend-leads
src/backend/src/gateway/** @platform-team @security-leads
src/backend/src/shared/** @platform-team @backend-leads

# Infrastructure and deployment
infrastructure/** @devops-team @platform-leads

# CI/CD Workflows
.github/workflows/** @devops-team @ci-leads

# Test files
**/*.test.{ts,tsx,js,jsx} @qa-team @test-automation-leads
**/*test*.py @qa-team @test-automation-leads

# Critical configuration files
.github/CODEOWNERS @platform-leads @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/interfaces/notification.interface.ts
  src/backend/src/notification-service/interfaces/notification.interface.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/models/notification.model.ts
  src/backend/src/notification-service/models/notification.model.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/services/notification.service.ts
  src/backend/src/notification-service/services/notification.service.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/services/adapters/slack.adapter.ts
  src/backend/src/notification-service/services/adapters/slack.adapter.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/services/adapters/teams.adapter.ts
  src/backend/src/notification-service/services/adapters/teams.adapter.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/tests/notification.test.ts
  src/backend/src/notification-service/tests/notification.test.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/Dockerfile
  src/backend/src/scenario-service/Dockerfile
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/README.md
  src/backend/src/scenario-service/README.md
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/pyproject.toml
  src/backend/src/scenario-service/pyproject.toml
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/requirements.txt
  src/backend/src/scenario-service/requirements.txt
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/setup.py
  src/backend/src/scenario-service/setup.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/__init__.py
  src/backend/src/scenario-service/scenario_service/__init__.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/config.py
  src/backend/src/scenario-service/scenario_service/config.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/controllers/__init__.py
  src/backend/src/scenario-service/scenario_service/controllers/__init__.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/controllers/scenario_controller.py
  src/backend/src/scenario-service/scenario_service/controllers/scenario_controller.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/models/__init__.py
  src/backend/src/scenario-service/scenario_service/models/__init__.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/models/scenario.py
  src/backend/src/scenario-service/scenario_service/models/scenario.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/services/__init__.py
  src/backend/src/scenario-service/scenario_service/services/__init__.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/services/llm_service.py
  src/backend/src/scenario-service/scenario_service/services/llm_service.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/services/scenario_generator.py
  src/backend/src/scenario-service/scenario_service/services/scenario_generator.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/services/scenario_validator.py
  src/backend/src/scenario-service/scenario_service/services/scenario_validator.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/utils/__init__.py
  src/backend/src/scenario-service/scenario_service/utils/__init__.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/utils/compliance.py
  src/backend/src/scenario-service/scenario_service/utils/compliance.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/scenario_service/utils/templates.py
  src/backend/src/scenario-service/scenario_service/utils/templates.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/tests/__init__.py
  src/backend/src/scenario-service/tests/__init__.py
Owners: @ai-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/tests/test_scenario_generator.py
  src/backend/src/scenario-service/tests/test_scenario_generator.py
Owners: @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/src/backend/src/scenario-service/tests/test_scenario_validator.py
  src/backend/src/scenario-service/tests/test_scenario_validator.py
Owners: @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/auth/jwt.strategy.ts
  src/backend/src/shared/auth/jwt.strategy.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/auth/oauth.strategy.ts
  src/backend/src/shared/auth/oauth.strategy.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/auth/saml.strategy.ts
  src/backend/src/shared/auth/saml.strategy.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/constants/error-codes.ts
  src/backend/src/shared/constants/error-codes.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/constants/http-status.ts
  src/backend/src/shared/constants/http-status.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/interfaces/base.interface.ts
  src/backend/src/shared/interfaces/base.interface.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/interfaces/config.interface.ts
  src/backend/src/shared/interfaces/config.interface.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/middleware/error-handler.middleware.ts
  src/backend/src/shared/middleware/error-handler.middleware.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/middleware/logger.middleware.ts
  src/backend/src/shared/middleware/logger.middleware.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/types/common.types.ts
  src/backend/src/shared/types/common.types.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/types/config.types.ts
  src/backend/src/shared/types/config.types.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/utils/encryption.util.ts
  src/backend/src/shared/utils/encryption.util.ts
Owners: @platform-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/shared/utils/logger.util.ts
  src/backend/src/shared/utils/logger.util.ts
Owners: @platform-team, @backend-leads
