Repository Sidekick-Security/game-day-phnwtr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @frontend-team, @ui-leads, @exercise-team, @backend-leads, @analytics-team, @data-science-leads, @ai-team, @notification-team, @platform-team, @security-leads, @devops-team, @ci-leads, @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/.github/workflows/analytics-service.yml
  .github/workflows/analytics-service.yml
Owners: @devops-team, @ci-leads

Add public-samples/game-day-phnwtr/.github/workflows/exercise-service.yml
  .github/workflows/exercise-service.yml
Owners: @devops-team, @ci-leads

Add public-samples/game-day-phnwtr/.github/workflows/gateway.yml
  .github/workflows/gateway.yml
Owners: @devops-team, @ci-leads

Add public-samples/game-day-phnwtr/.github/workflows/notification-service.yml
  .github/workflows/notification-service.yml
Owners: @devops-team, @ci-leads

Add public-samples/game-day-phnwtr/.github/workflows/scenario-service.yml
  .github/workflows/scenario-service.yml
Owners: @devops-team, @ci-leads

Add public-samples/game-day-phnwtr/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team, @ci-leads

Add public-samples/game-day-phnwtr/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/analytics-service/configmap.yaml
  infrastructure/kubernetes/analytics-service/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/analytics-service/deployment.yaml
  infrastructure/kubernetes/analytics-service/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/analytics-service/secret.yaml
  infrastructure/kubernetes/analytics-service/secret.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/analytics-service/service.yaml
  infrastructure/kubernetes/analytics-service/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/autoscaling/horizontal-pod-autoscaler.yaml
  infrastructure/kubernetes/autoscaling/horizontal-pod-autoscaler.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/autoscaling/vertical-pod-autoscaler.yaml
  infrastructure/kubernetes/autoscaling/vertical-pod-autoscaler.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/exercise-service/configmap.yaml
  infrastructure/kubernetes/exercise-service/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/exercise-service/deployment.yaml
  infrastructure/kubernetes/exercise-service/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/exercise-service/secret.yaml
  infrastructure/kubernetes/exercise-service/secret.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/exercise-service/service.yaml
  infrastructure/kubernetes/exercise-service/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/gateway/configmap.yaml
  infrastructure/kubernetes/gateway/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/gateway/deployment.yaml
  infrastructure/kubernetes/gateway/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/gateway/secret.yaml
  infrastructure/kubernetes/gateway/secret.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/gateway/service.yaml
  infrastructure/kubernetes/gateway/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/ingress/certificate.yaml
  infrastructure/kubernetes/ingress/certificate.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/ingress/ingress.yaml
  infrastructure/kubernetes/ingress/ingress.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/elk/elasticsearch.yaml
  infrastructure/kubernetes/monitoring/elk/elasticsearch.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/elk/kibana.yaml
  infrastructure/kubernetes/monitoring/elk/kibana.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/elk/logstash.yaml
  infrastructure/kubernetes/monitoring/elk/logstash.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/grafana/configmap.yaml
  infrastructure/kubernetes/monitoring/grafana/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/jaeger/configmap.yaml
  infrastructure/kubernetes/monitoring/jaeger/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
  infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/jaeger/service.yaml
  infrastructure/kubernetes/monitoring/jaeger/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/game-day-phnwtr/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @devops-team, @platform-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern owner1 owner2 ...

# Global ownership - fallback for files not matched by other rules
* @platform-leads

# Frontend components
src/web/** @frontend-team @ui-leads

# Backend Services
src/backend/src/exercise-service/** @exercise-team @backend-leads
src/backend/src/analytics-service/** @analytics-team @data-science-leads
src/backend/src/scenario-service/** @ai-team @data-science-leads
src/backend/src/notification-service/** @notification-team @backend-leads
src/backend/src/gateway/** @platform-team @security-leads
src/backend/src/shared/** @platform-team @backend-leads

# Infrastructure and deployment
infrastructure/** @devops-team @platform-leads

# CI/CD Workflows
.github/workflows/** @devops-team @ci-leads

# Test files
**/*.test.{ts,tsx,js,jsx} @qa-team @test-automation-leads
**/*test*.py @qa-team @test-automation-leads

# Critical configuration files
.github/CODEOWNERS @platform-leads @security-leads
