Repository Sidekick-Security/game-day-phnwtr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @frontend-team, @ui-leads, @exercise-team, @backend-leads, @analytics-team, @data-science-leads, @ai-team, @notification-team, @platform-team, @security-leads, @devops-team, @ci-leads, @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/.env.example
  src/backend/.env.example
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/README.md
  src/backend/README.md
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/package.json
  src/backend/package.json
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @platform-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/Dockerfile
  src/backend/src/analytics-service/Dockerfile
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/README.md
  src/backend/src/analytics-service/README.md
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/pyproject.toml
  src/backend/src/analytics-service/pyproject.toml
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/requirements.txt
  src/backend/src/analytics-service/requirements.txt
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/setup.py
  src/backend/src/analytics-service/setup.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/__init__.py
  src/backend/src/analytics-service/analytics_service/__init__.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/config.py
  src/backend/src/analytics-service/analytics_service/config.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/controllers/__init__.py
  src/backend/src/analytics-service/analytics_service/controllers/__init__.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/controllers/gap_analysis.py
  src/backend/src/analytics-service/analytics_service/controllers/gap_analysis.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/controllers/metrics.py
  src/backend/src/analytics-service/analytics_service/controllers/metrics.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/controllers/reports.py
  src/backend/src/analytics-service/analytics_service/controllers/reports.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/models/__init__.py
  src/backend/src/analytics-service/analytics_service/models/__init__.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/models/gap.py
  src/backend/src/analytics-service/analytics_service/models/gap.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/models/metric.py
  src/backend/src/analytics-service/analytics_service/models/metric.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/models/report.py
  src/backend/src/analytics-service/analytics_service/models/report.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/services/__init__.py
  src/backend/src/analytics-service/analytics_service/services/__init__.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/services/gap_analyzer.py
  src/backend/src/analytics-service/analytics_service/services/gap_analyzer.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/services/metric_processor.py
  src/backend/src/analytics-service/analytics_service/services/metric_processor.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/analytics_service/services/report_generator.py
  src/backend/src/analytics-service/analytics_service/services/report_generator.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/tests/__init__.py
  src/backend/src/analytics-service/tests/__init__.py
Owners: @analytics-team, @data-science-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/tests/test_gap_analyzer.py
  src/backend/src/analytics-service/tests/test_gap_analyzer.py
Owners: @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/tests/test_metric_processor.py
  src/backend/src/analytics-service/tests/test_metric_processor.py
Owners: @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/src/backend/src/analytics-service/tests/test_report_generator.py
  src/backend/src/analytics-service/tests/test_report_generator.py
Owners: @qa-team, @test-automation-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/app.ts
  src/backend/src/exercise-service/app.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/server.ts
  src/backend/src/exercise-service/server.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/config/database.ts
  src/backend/src/exercise-service/config/database.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/config/redis.ts
  src/backend/src/exercise-service/config/redis.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/controllers/exercise.controller.ts
  src/backend/src/exercise-service/controllers/exercise.controller.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/controllers/inject.controller.ts
  src/backend/src/exercise-service/controllers/inject.controller.ts
Owners: @exercise-team, @backend-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern owner1 owner2 ...

# Global ownership - fallback for files not matched by other rules
* @platform-leads

# Frontend components
src/web/** @frontend-team @ui-leads

# Backend Services
src/backend/src/exercise-service/** @exercise-team @backend-leads
src/backend/src/analytics-service/** @analytics-team @data-science-leads
src/backend/src/scenario-service/** @ai-team @data-science-leads
src/backend/src/notification-service/** @notification-team @backend-leads
src/backend/src/gateway/** @platform-team @security-leads
src/backend/src/shared/** @platform-team @backend-leads

# Infrastructure and deployment
infrastructure/** @devops-team @platform-leads

# CI/CD Workflows
.github/workflows/** @devops-team @ci-leads

# Test files
**/*.test.{ts,tsx,js,jsx} @qa-team @test-automation-leads
**/*test*.py @qa-team @test-automation-leads

# Critical configuration files
.github/CODEOWNERS @platform-leads @security-leads
