Repository Sidekick-Security/game-day-phnwtr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @frontend-team, @ui-leads, @exercise-team, @backend-leads, @analytics-team, @data-science-leads, @ai-team, @notification-team, @platform-team, @security-leads, @devops-team, @ci-leads, @qa-team, @test-automation-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern owner1 owner2 ...

# Global ownership - fallback for files not matched by other rules
* @platform-leads

# Frontend components
src/web/** @frontend-team @ui-leads

# Backend Services
src/backend/src/exercise-service/** @exercise-team @backend-leads
src/backend/src/analytics-service/** @analytics-team @data-science-leads
src/backend/src/scenario-service/** @ai-team @data-science-leads
src/backend/src/notification-service/** @notification-team @backend-leads
src/backend/src/gateway/** @platform-team @security-leads
src/backend/src/shared/** @platform-team @backend-leads

# Infrastructure and deployment
infrastructure/** @devops-team @platform-leads

# CI/CD Workflows
.github/workflows/** @devops-team @ci-leads

# Test files
**/*.test.{ts,tsx,js,jsx} @qa-team @test-automation-leads
**/*test*.py @qa-team @test-automation-leads

# Critical configuration files
.github/CODEOWNERS @platform-leads @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/controllers/participant.controller.ts
  src/backend/src/exercise-service/controllers/participant.controller.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/controllers/response.controller.ts
  src/backend/src/exercise-service/controllers/response.controller.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/interfaces/exercise.interface.ts
  src/backend/src/exercise-service/interfaces/exercise.interface.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/interfaces/inject.interface.ts
  src/backend/src/exercise-service/interfaces/inject.interface.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/interfaces/participant.interface.ts
  src/backend/src/exercise-service/interfaces/participant.interface.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/interfaces/response.interface.ts
  src/backend/src/exercise-service/interfaces/response.interface.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/middleware/auth.middleware.ts
  src/backend/src/exercise-service/middleware/auth.middleware.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/middleware/validation.middleware.ts
  src/backend/src/exercise-service/middleware/validation.middleware.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/models/exercise.model.ts
  src/backend/src/exercise-service/models/exercise.model.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/models/inject.model.ts
  src/backend/src/exercise-service/models/inject.model.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/models/participant.model.ts
  src/backend/src/exercise-service/models/participant.model.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/models/response.model.ts
  src/backend/src/exercise-service/models/response.model.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/routes/exercise.routes.ts
  src/backend/src/exercise-service/routes/exercise.routes.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/routes/inject.routes.ts
  src/backend/src/exercise-service/routes/inject.routes.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/routes/participant.routes.ts
  src/backend/src/exercise-service/routes/participant.routes.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/routes/response.routes.ts
  src/backend/src/exercise-service/routes/response.routes.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/services/exercise.service.ts
  src/backend/src/exercise-service/services/exercise.service.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/services/inject.service.ts
  src/backend/src/exercise-service/services/inject.service.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/services/participant.service.ts
  src/backend/src/exercise-service/services/participant.service.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/services/response.service.ts
  src/backend/src/exercise-service/services/response.service.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/tests/exercise.test.ts
  src/backend/src/exercise-service/tests/exercise.test.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/tests/inject.test.ts
  src/backend/src/exercise-service/tests/inject.test.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/tests/participant.test.ts
  src/backend/src/exercise-service/tests/participant.test.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/exercise-service/tests/response.test.ts
  src/backend/src/exercise-service/tests/response.test.ts
Owners: @exercise-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/Dockerfile
  src/backend/src/gateway/Dockerfile
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/kong.yml
  src/backend/src/gateway/kong.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/plugins/auth.yml
  src/backend/src/gateway/plugins/auth.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/plugins/cors.yml
  src/backend/src/gateway/plugins/cors.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/plugins/rate-limiting.yml
  src/backend/src/gateway/plugins/rate-limiting.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/plugins/request-transformer.yml
  src/backend/src/gateway/plugins/request-transformer.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/plugins/response-transformer.yml
  src/backend/src/gateway/plugins/response-transformer.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/routes/analytics.route.yml
  src/backend/src/gateway/routes/analytics.route.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/routes/exercise.route.yml
  src/backend/src/gateway/routes/exercise.route.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/routes/notification.route.yml
  src/backend/src/gateway/routes/notification.route.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/gateway/routes/scenario.route.yml
  src/backend/src/gateway/routes/scenario.route.yml
Owners: @platform-team, @security-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/app.ts
  src/backend/src/notification-service/app.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/server.ts
  src/backend/src/notification-service/server.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/config/database.ts
  src/backend/src/notification-service/config/database.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/config/queue.ts
  src/backend/src/notification-service/config/queue.ts
Owners: @notification-team, @backend-leads

Add public-samples/game-day-phnwtr/src/backend/src/notification-service/controllers/notification.controller.ts
  src/backend/src/notification-service/controllers/notification.controller.ts
Owners: @notification-team, @backend-leads
